<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/layout/header::header}"></head>
<body>
<nav th:replace="~{admin/layout/navbar::navbar}"></nav>

<div class="container">
    <a th:href="@{/admin/categories/add}" class="btn btn-primary my-3">Add Category</a>
    <table class="table">
        <thead class="table-light">
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Category Name</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category, iStat : ${categories}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${category.name}">Larry</td>
            <td><a href="" th:href="@{/admin/categories/delete/{id}(id=${category.id})}" class="btn btn-danger">Delete</a></td>
            <td><a href="" th:href="@{/admin/categories/update/{id}(id=${category.id})}" class="btn btn-warning">Update</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{admin/layout/script::script}"></div>

</body>
</html>
