<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/layout/header::header}"></head>
<body>
<nav th:replace="~{admin/layout/navbar::navbar}"></nav>

<div class="container">

    <a th:href="@{/admin/users/add}" style="margin: 20px 0" class="btn btn-primary">Add Account</a>
    <table class="table">
        <thead class="table-light">
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Email</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iStat : ${users}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${user.email}">Larry</td>
            <td>
                <a th:href="@{/admin/users/delete/{id}(id=${user.id})}" class="btn btn-danger" aria-label="Delete User">Delete</a>
            </td>
            <td>
                <a th:href="@{/admin/users/update/{id}(id=${user.id})}" class="btn btn-warning" aria-label="Update User">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{admin/layout/script::script}"></div>

</body>
</html>
