<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/layout/header::header}"></head>
<body>

<nav th:replace="~{user/layout/navbar::navbar}"></nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="row mb-3">
                <div class="col-6">
                    <strong th:text="${result}"></strong>
                </div>
                <div class="col-6 text-end">
                    <p>
                        <em>Receipt #: 34522677W</em>
                    </p>
                </div>
            </div>
            <div class="text-center mb-4">
                <h1>Receipt</h1>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Components</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${parameters}">
                    <td th:text="${entry.key} + '  : -  ' + ${entry.value}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{user/layout/script::script}"></div>

</body>
</html>
