<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{user/layout/header::header}"></head>
<body>

<nav th:replace="~{user/layout/navbar::navbar}"></nav>

<div class="container mt-5">
    <div class="row">
        <!-- Hình ảnh sản phẩm -->
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img class="img-fluid mt-5" height="300" width="300" th:src="@{${'/productImages/' + product.image}}" alt="">
        </div>
        <!-- Thông tin sản phẩm -->
        <div class="col-md-7 mt-5">
            <h2 th:text="${product.name}"></h2>
            <p th:text="${product.category.name}"></p>
            <h2>₹ <span th:text="${product.price}"></span></h2>
            <h5>Weight: <span th:text="${product.weight}"></span> grams.</h5>
            <p th:text="${product.description}"></p>
            <a href="#" th:href="@{/addToCart/{id}(id=${product.id})}" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div>

<div th:replace="~{user/layout/script::script}"></div>

</body>
</html>
